// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 80%;
  margin: 0 auto;
}

.seat-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: yellow;
}
