<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300|Megrim' rel='stylesheet' type='text/css'>

</head>
<body>


<h1>Planet Express</h1>

<!-- <div class="test"></div> -->

<!--   <input id="input-box" name="name" placeholder="This is from backbone" type="text">
  <input id="submit-button-1" type="button" value="click here"> -->

<script id="template-test" type="text/template">

<div id="search-container">
	<div id="search-bg"></div>
	  <div id="search-flight-form">
	    <input id="input-origin" placeholder="Origin" type="text">

	    <input id="input-destination" placeholder="Destination" type="text">

	    <button id="flight-search-submit">Find Flights</button>
	  </div>
</div>





</script>

<div id="one"></div>

</div>

</body>
</html>
