<h1>
  Something's working.
</h1>

<div class="test"></div>

<script id="template-test" type="text/template">

  <input id="input-box" name="name" placeholder="This is from backbone" type="text">
  
  <input id="submit-button-1" type="button" value="click here">
</script>

<div id="one"></div>
