<h1>
  Something's working.
</h1>

<div class="test">
</div>

<script type="text/template" id="template-test">
  <input type="text" name="name" placeholder="This is from backbone" id="input-box">
  <input type="button" value="click here" id="submit-button-1">
</script>

<div id="one">
</div>
