<h1>
  Something's working.
</h1>

<div class="test"></div>

<script id="template-test" type="text/template">

  <div id="search-flight-form">
    <input id="input-origin" placeholder="Flight origin" type="text">
    <input id="input-destination" placeholder="Flight destination" type="text">
    <button id="flight-search-submit">Submit</button>
  </div>

</script>

<div id="one"></div>

</div>

<div id="table"></div>

<div id="two"></div>